## Lesson 1 Assignment

## Question 1

In [8]:
import numpy as np

In [9]:
L1 = []
np.random.seed(56)

In [10]:
for i in np.random.randint(0, 100, 10):
  L1.extend([i] * np.random.randint(0, 100, 1)[0])
np.random.shuffle(L1)

1. What are the unique values? (5 points)

In [12]:
print(set(L1))

{64, 34, 14, 15, 55, 22, 87, 85, 57, 90}

2. How many unique values? (5 points)

In [13]:
print(len(set(L1)))

10

3. Create a dictionary with the unique items in L1 as dictionary keys and their count as the dictionary values. (20 points)

In [15]:
count_dict = {item: L1.count(item) for item in set(L1)}
print(count_dict)

{64: 66, 34: 43, 14: 11, 15: 12, 55: 31, 22: 33, 87: 80, 85: 24, 57: 89, 90: 10}

4. Which value appears most frequently? The manual comparison is not acceptable. (10 points)

In [23]:
most_freq = [k for k, v in count_dict.items() if v == max(count_dict.values())]
print(most_freq[0])

57

## Question 2

In [25]:
L2 = [879, 394, 235, 580, 628, 81, 206, 238, 927, 853, 622, 603, 110, 143, 824, 324, 343, 506, 634, 325, 258, 900, 960, 286, 449, 890, 921, 170, 888, 851]

1. Use a while loop to calculate the sum of the even numbers in L2. (10 points)

In [27]:
i = 0
sum = 0
while i < len(L2):
  if L2[i]%2 == 0:
    sum += L2[i]
  i += 1
print(sum)

9418

2. Write a function to calculate the mean of a list. Use this function to calculate the mean of L2 (10 points)

In [28]:
def calc_mean(list):
  sum = 0
  for i in list:
    sum += i
  return sum/len(list)

In [29]:
calc_mean(L2)

534.2666666666667

3. Calculate the sum for elements in L2 which is larger than 500. (10 points)

In [31]:
sum_500 = 0
for i in L2:
  if i > 500:
    sum_500 += i
print(sum_500)

12466

## Question 3

 1. Implement the function pow(x, n), which calculates x raised to the power n (xn). Please don't use x**n. (20pts)

In [34]:
def pow(x, n):
  result = x
  if n > 0:
    while n > 1:
      result *= x
      n -= 1
    return result
  elif n < 0:
    while n < -1:
      result *= x
      n += 1
    return 1/result
  return 1

2. Calculate pow(2, 10) and pow(3, -3). (10 pts)

In [37]:
pow(2, 10)

1024

In [38]:
pow(3, -3)

0.037037037037037035